<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


    <!-- Version 1.0 2-7-07 -->


    <head>
        <title>$$TITLE$$</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="anchors" />
		<meta name="template" content="2box"/>
		<meta name="pagetype" content="access"/>
		<meta name="AppleTitle" content="$$APPLETITLE$$" />
		<meta name="AppleIcon" content="MailHelp/gfx/mlic.png" />
        <link href="sty/access_4box.css" rel="stylesheet" type="text/css" media="all"/>
    </head>

    <body id="apple-pd">

			<!--top navigation area-->
			<div id="navbox">
			<a name="access"></a>
				
				<div id="navrightbox">
					<a class="navlink_right" href="help:anchor='xall' bookID=$$APPLETITLE$$">Index</a>
				</div>
			</div>
			<!--closes top navigation area-->

			<!--page head-->
			<div id="headerbox">
				<div id="iconbox">
					<img id="iconimg" src="gfx/$$ICON$$" alt="Mail icon" height="32" width="32"/>
				</div>
				<div id="pagetitlebox">
					<h1>$$TITLE$$</h1>
				</div>
			</div>
			<!--closes page head-->

	<!--tablebox-->
	<div class="tablebox">
		<div class="tablerow">

			<!--top left cell-->
			<div class="tablecell_a">
			
				$$LEFT$$
					
				</div>
			<!--closes top left cell-->

			<!--top right cell-->
			<div class="tablecell_b">
				<div class="tablebox">
					<div class="tablerow">
						<div class="tablecell_b1"></div>
						<div class="tablecell_b2"></div>
						<div class="tablecell_b3"></div>
					</div>
					<div class="tablerow">
						<div class="tablecell_b4"></div>
							<div class="tablecell">
								<div class="tablerow">
									<div class="tablecell">
										<h3 class="ostopic">Featured Topics</h3>
										$$FEATURED$$
										
										
			<!--adds rule-->
										<div id="rule"></div>
										<p><a href="help:anchor='xall' bookID=$$APPLETITLE$$">Index</a></p>
											
										<p><a  class="weblink" href="$$LINK$$">$$LINKDESC$$</a></p>
									</div>
								</div>
							</div>
							<div class="tablecell_b6"></div>
						</div>
					<div class="tablerow">
						<div class="tablecell_b7"></div>
						<div class="tablecell_b8"></div>
						<div class="tablecell_b9"></div>
					</div>
				</div>
			</div>
			<!--closes top right cell-->

		</div>
		
		</div>
	<!--closes tablebox-->

    </body>
</html>