<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>$$INDEX$$</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link href="../sty/index.css" rel="stylesheet" type="text/css"/>
</head>

<body id="apple-pd">
<a name="x$$LETTER$$"></a>
	
<!--top navigation area-->
<div id="navbox">
<div id="navleftbox">
	<a class="navlink_left" href="help:anchor='access' bookID='$$APPLETITLE$$'">$$HOME$$</a>
</div>
</div>
<!--closes top navigation area-->

<!--alphabet area-->
<div class="alphabox">
<table width="100%" border="0" cellspacing="0" cellpadding="0" summary="">
<tr>
<td nowrap="nowrap" width="12"></td>
<!--alphacircle graphic-->

$$HEADLIST$$

<td></td>
</tr>
</table>
</div>
<!-- closes alphabet area -->

<!--list area-->
<div class="listbox">
<table width="535" border="0" cellspacing="0" cellpadding="0" summary="">

$$CONTENT$$

</table>
</div>
<!--closes list area-->

</body>
</html>