<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>$$TITLE$$</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link href="../sty/task_bulleted.css" rel="stylesheet" type="text/css"/>
</head>

<body id="apple-pd">
<!--top navigation area-->
<div id="navbox">

$$TAGS$$

<div id="navleftbox">
<a class="navlink_left" href="help:anchor='access' bookID=$$APPLETITLE$$">Home</a>
</div>
<div id="navrightbox">
<a class="navlink_right" href="help:anchor='xall' bookID=$$APPLETITLE$$">Index</a>
</div>
</div>
<!--closes top navigation area-->

<!--page head-->
<div id="headerbox">
<div id="iconbox">
<img id="iconimg" src="../gfx/$$ICON$$" alt="Mail Icon" height="32" width="32"/>
</div>
<div id="pagetitle">
<h1>$$TITLE$$</h1>
</div>
</div>

<div id="introbox">
<div class="introprimtext">
<p class="introprimtextlongtext">Intro Intro Intro</p>
</div><!--closes introprimtext-->
</div> <!--closes introbox -->



<p class="taskprimtextlongtext">
$$CONTENT$$
</p>

</body>
</html>